Some common examples to be ingnore are
1. Runtime files such as log, lock, cache, or temporary files.
2. Files with sensitive information, such as passwords or API keys.
3. Compiled code, such as .class or .o.
4. Dependency directories, such as /vendor or /node_modules .
5. Build directories, such as /public, /out, or /dist.
6. System files like .DS_Store or Thumbs.db
